[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-cors-headers = "*"
requests = "*"
python3 = "*"
python3-7 = "*"
corsheaders = "*"

[requires]
python_version = "3.7"
